
@font-face {
    font-family: 'gandhi_serif';
    src: url('gandhiserif/gandhiserif_regular_macroman/GandhiSerif-Regular-webfont.eot');
    src: url('gandhiserif/gandhiserif_regular_macroman/GandhiSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('gandhiserif/gandhiserif_regular_macroman/GandhiSerif-Regular-webfont.woff') format('woff'),
         url('gandhiserif/gandhiserif_regular_macroman/GandhiSerif-Regular-webfont.ttf') format('truetype'),
         url('gandhiserif/gandhiserif_regular_macroman/GandhiSerif-Regular-webfont.svg#gandhi_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gandhi_serif';
    src: url('gandhiserif/gandhiserif_bold_macroman/GandhiSerif-Bold-webfont.eot');
    src: url('gandhiserif/gandhiserif_bold_macroman/GandhiSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('gandhiserif/gandhiserif_bold_macroman/GandhiSerif-Bold-webfont.woff') format('woff'),
         url('gandhiserif/gandhiserif_bold_macroman/GandhiSerif-Bold-webfont.ttf') format('truetype'),
         url('gandhiserif/gandhiserif_bold_macroman/GandhiSerif-Bold-webfont.svg#gandhi_serifbold') format('svg');
    font-weight: bold;
    font-style: bold;

}

@font-face {
    font-family: 'gandhi_serif';
    src: url('gandhiserif/gandhiserif_italic_macroman/GandhiSerif-Italic-webfont.eot');
    src: url('gandhiserif/gandhiserif_italic_macroman/GandhiSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('gandhiserif/gandhiserif_italic_macroman/GandhiSerif-Italic-webfont.woff') format('woff'),
         url('gandhiserif/gandhiserif_italic_macroman/GandhiSerif-Italic-webfont.ttf') format('truetype'),
         url('gandhiserif/gandhiserif_italic_macroman/GandhiSerif-Italic-webfont.svg#gandhi_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body { padding-left: 0; width: 100%; font-family: gandhi_serif; margin:0}

p, ol, ul {
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5 { font-family: 'Rubik', sans-serif; }

h2 { font-size: 2.0rem; }

blockquote {font-style: italic;
margin-top: 80px;
margin-bottom: 80px;}

wip { font-style: italic; font-size: 0.8em; text-align:center; display: block; margin: 20px; color: #555}
.author {font-family: 'rubik'}

ol,ul { width: 75% }

a:link {          
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#aaa, #eee);
background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
         background-position: 0% 93%, 100% 93%, 0% 93%; 
}


quiet { font-size: 0.7em; font-style: italic; }
loud { text-transform: uppercase; letter-spacing: 0.04em; font-size: 1.3em;}


#progress-bar { border-bottom: 30px solid #eee; margin-left: 12.5%; max-width: 1400px}
#header {  padding-left: 12.5%;  padding-top: 5px; margin: auto; color: #ccc; }


#main-content { padding-left: 12.5%;width: 87.5%;  max-width: 1400px; margin-top: 20vh;}
#toc { padding-left: 15%; margin-top: 40px; width: 75%; max-width: 1400px;  }
#toc ul { width: 80%; }
#toc ul.level-1 > li { margin-bottom: 50px; text-transform: uppercase; letter-spacing: 0.04em;  }

#toc ul.level-1 > li > a { display:block; margin-bottom: 10px; font-weight: bold;}

#toc ul.level-2 > li {
    text-transform: none;
    letter-spacing: 0;
}

#toc ul.level-3 li {
    font-style: italic;
}

/* tablets and up */
@media (min-width: 48em) {  
    #toc ul.level-2.no-grandchildren,
    #toc ul.level-3.no-grandchildren {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }   
}



#footer { color: #555; font-family: "Rubik"; padding-left: 12.5%;}

#footer .page-meta { text-transform: uppercase; letter-spacing: 0.06em; margin: 200px 0 50px 0; color: #999; width: 55%; max-width: 1400px; text-align: right;}
#footer .page-meta a:link, #footer .page-meta a:visited { background: none; }
#footer .page-meta a:hover { color: #aaa; }


h1 { margin-top: 10vh; font-size: 2.5rem; margin-bottom: 1em;}
h1#main-title { margin-top: 0; text-transform: uppercase; letter-spacing: 0.04em;  font-size: 4rem;}
h1.chapter-title { text-transform: uppercase; letter-spacing: 0.04em;  }
.tagline {  text-transform: uppercase; letter-spacing: 0.06em; font-size: 1rem; margin-bottom: 50px; font-family: 'rubik'; font-style: italic;}

.cover-title { overflow: hidden; border-top: 1px solid; margin-bottom: 40px; }
.cover-title .left-container {float: left; margin-right: 40px; }
.cover-title h1 {  border-top: 1px solid;  padding-top: 20px; margin-bottom: 7px}
.cover-title .author { text-align: right; margin-right: .5em; color: #555; }
.cover-title .tagline { float: left; padding-top: 25px; font-size: 1.5rem; color: #333; }


chapter-title { font-family: "lato", sans-serif; font-weight: 700; font-size: 2rem; text-transform: uppercase; letter-spacing: 0.04em; margin-top: 10vh; }

page-subtitle { font-style: italic; }


leading-words { text-transform: uppercase; letter-spacing: 0.04em; font-size: 0.85em}

.navigation { text-transform: uppercase; letter-spacing:0.04em; margin: 150px 100px 100px 0; font-size: 1.2rem; }

.navigation a { margin: 30px 30px }
.navigation .home-link, 
.navigation .chapter-link,
.navigation .prev-link { font-size: 0.8em; margin-left: 0}
.navigation .next-link { color: #333; }


#edge-navi a:link {   position: fixed; max-width: 10%;  min-width: 100px; font-size: 3em; background: none;  color: transparent;  padding: 50vh 10px 0; top: 0; height: 100%; }
#edge-navi .next-link {  right: 0; }
#edge-navi .prev-link {  left: 0; }
#edge-navi a:hover { color: #aaa; }

/* Page specific */
body.mind-on-maps .navigation { text-align:right; padding-right: 12.5%; }
body.mind-on-maps a.cover-image:link { background: none; }
body.mind-on-maps #main-content { margin-top: 0}
body.mind-on-maps root > p { margin: 0}
body.mind-on-maps #progress-bar { display: none; }

#progress-bar { display: none; } /* TBD */