
body { padding-left: 0; width: 100%}

blockquote {font-style: italic;
margin-top: 80px;
margin-bottom: 80px;}


#header {  padding-left: 12.5%;  padding-top: 5px; margin: auto; color: #ccc; }


#main-content { padding-left: 12.5%;width: 87.5%;  max-width: 1400px; margin-top: 20vh;}
#toc { padding-left: 15%;  }

#footer { color: #555; }

#footer .page-meta { text-transform: uppercase; letter-spacing: 0.04em;  padding-left: 12.5%;margin: 200px 0 50px 0; color: #999}
#footer .page-meta a:link, #footer .page-meta a:visited { background: none; }
#footer .page-meta a:hover { color: #aaa; }

h1 { margin-top: 10vh; font-size: 2.5rem; }
h1#main-title { margin-top: 0; text-transform: uppercase; letter-spacing: 0.04em;  font-size: 3rem;}
h1.chapter-title { text-transform: uppercase; letter-spacing: 0.04em; }
.tagline {  text-transform: uppercase; letter-spacing: 0.05em; font-size: 1rem; margin-bottom: 50px}

chapter-title { font-family: "lato", sans-serif; font-weight: 700; font-size: 2rem; text-transform: uppercase; letter-spacing: 0.04em; margin-top: 10vh; }


.navigation { text-transform: uppercase; letter-spacing:0.04em; margin: 150px 100px 100px; font-size: 1.2rem}

.navigation a { margin: 30px 30px }
.navigation .home-link, 
.navigation .chapter-link { font-size: 0.8em}


/* Page specific */
body.mind-on-maps .navigation { text-align:right; padding-right: 12.5%; }